body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(146, 146, 146);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
.auth_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 700px;
  background-color: #B3B3B3;
  border-radius: 20px;
}

.auth{
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 500px;
  width: 600px;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow-y: auto;
  
  /* Стилизация скроллбара для WebKit браузеров */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
  gap: 40px;
}

/* Для Chrome, Safari, Edge */
.auth::-webkit-scrollbar {
  width: 8px;
}

.auth::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.auth::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.auth::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.form-title{
  font-size: 55px;
  color: rgb(51, 51, 51);
  font-weight: 100; /* Самый жирный вариант (100-900) */
}

input{
  width: 372px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(87, 87, 87);
  border: none;
  color: white;
  text-indent: 10px;
}

input:focus {
    outline: none;
}