body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 60px 700px 60px;
/* Добавьте в начало CSS */
  opacity: 0;
  animation: fadeInPage 0.8s ease-in forwards;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
    display: grid;
    grid-template-columns: 20% 30% 50%;
}

@keyframes choise_componentsFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Title_ {

}

section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.IMG_, .form_ {
    display: flex;
    align-items: center;
}

.IMG_{
    opacity: 0;
    animation: slideInDown 1.0s ease-out 0.5s forwards;
}

.choise {
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.choise_components {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    opacity: 0;
    animation: choise_componentsFadeIn 0.3s ease-in forwards;
}

.btn_h {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login, .signin {
    width: 272px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
    opacity: 0;
    animation: slideInUp 1.0s ease-out forwards;

}


.login {
    animation-delay: 0.3s;
}

.signin {
    animation-delay: 0.5s;
}

.login:active, .signin:active {
    transform: translateY(4px);
    /* Убираем нижнюю границу и тень при нажатии */
    border-bottom-width: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    /* Отключаем hover эффект при активном состоянии */
}

.login:hover {
    background-color: #50e650;
     cursor: pointer;
}

.signin:hover {
    background-color: #686868;
     cursor: pointer;
}
.login {
    background-color: #09DA09;
    border-bottom: 7px solid #64AA4F;
}

.signin {
    background-color: #474747;
    border-bottom: 7px solid #1a1a1a;
}

.IMG_ {
    justify-content: end;
}

.form_ {
    justify-content: start;
}

footer {
}
