body{
  background-color: black;
      margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    height: 60px;
    background-color: #222;
}

section{
  display: grid;
  grid-template-columns: 20% 80%;
  height: calc(100vh - 120px);
  background-color: #4949498c;
    padding-left: 30px;
  padding-right: 30px;
}

.responses{
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea{
  resize: none;
  width: 70%;
  height: 70%;
  font-size: 14px;
  border: none;
  background-color: #161616;
  color: #10e610;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Courier New', monospace;
}
.commands{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
      grid-gap: 20px;
      background-color: #414241b8;
      border-radius: 20px;
}


/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    
    .commands {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    
    button {
        width: 200px;
        margin: 5px;
    }
    
    textarea {
        width: 90%;
        height: 60%;
    }
}


